<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style/style.css")
    title Minecraft clone
  body
    canvas(id="game")
    div(id="cursor")

    script(src="./scripts/index.js", type="module")